{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classic Electricals | Admin Login Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="bg-secondary">
    <section class="container-fluid mt-5">
        <div class="container">
            <div class="row">
                <div class="col-4 m-auto">
                    <div class="card p-3 text-center shadow-lg rounded" style="background: linear-gradient(45deg, #901834, #d82626);">
                        <h3 class="text-white fw-bold">Admin Login</h3>

                        <div class="mt-2">
                            
                            <form method="POST">
                        {% csrf_token %}
                        <input type="text" name="username" class="form-control" placeholder="Username" required><br>
                        <input type="password" name="password" class="form-control" placeholder="Password" required><br>
                        <input type="submit" class="btn btn-outline-success text-center fw-bold" value="Login">
                        {% if error %}
                            <p style="color:white;">{{ error }}</p>
                        {% endif %}
                    </form>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
</html>