{% load static %}
<footer class="text-white pt-4" style="background-color: #011627;">
  <div class="container mt-5">
    <!-- Top Row -->
    <div class="row gy-4 text-start text-md-start text-center">
      
      <div class="col-lg-3 col-md-6">
        <h5 class="fw-bold">Products Types</h5>
        <ul class="list-unstyled">
          <li><a class="text-white text-decoration-none link-hover" href="#">Industrial Borescopes/Endoscopes</a></li>
          <li><a class="text-white text-decoration-none link-hover" href="#">Industrial Sewer Pipe Inspection Cameras</a></li>
          <li><a class="text-white text-decoration-none link-hover" href="#">Industrial Inspection Equipments</a></li>
          <li><a class="text-white text-decoration-none link-hover" href="#">Industrial NDT Instruments</a></li>
          <li><a class="text-white text-decoration-none link-hover" href="#">Industrial Gas Detectors</a></li>
          <li><a class="text-white text-decoration-none link-hover" href="#">Industrial Machine Vision Cameras</a></li>
          <li><a class="text-white text-decoration-none link-hover" href="#">Industrial Borewell Inspection Cameras</a></li>
          <li><a class="text-white text-decoration-none link-hover" href="{% url 'allcategories' %}">Others</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6">
        <h5 class="fw-bold">Features</h5>
        <ul class="list-unstyled">
          <li><a class="text-white text-decoration-none link-hover" href="#">Enterprise</a></li>
          <li><a class="text-white text-decoration-none link-hover" href="{% url 'contact' %}">Customer Services</a></li>
          <li><a class="text-white text-decoration-none link-hover" href="{% url 'product' %}">Product Analytics</a></li>
          <!-- <li><a class="text-white text-decoration-none link-hover" href="">Marketing</a></li> -->
          <!-- <li><a class="text-white text-decoration-none link-hover" href="#"></a></li> -->
          <li><a class="text-white text-decoration-none link-hover" href="#">Professional Services</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6">
        <!-- <h5 class="fw-bold">Company</h5> -->
        <ul class="list-unstyled">
          <li><a class="text-white text-decoration-none link-hover" href="{% url 'about' %}">About Us</a></li>
          <li><a class="text-white text-decoration-none link-hover" href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6">
        <h5 class="fw-bold">Marketing</h5>
        <ul class="list-unstyled">
          <li><a class="text-white text-decoration-none link-hover" href="https://www.indiamart.com/classic-electricals-karnataka/">IndiaMart</a></li>
          <!-- <li><a class="text-white text-decoration-none link-hover" href="{% url 'contact' %}">Contact Us</a></li> -->
        </ul>
      </div>
      
      <div class="col-lg-3 col-md-6">
        <p>
          We offer high-quality, reliable testing and inspection instruments tailored for industrial needs.
        </p>
      </div>
    </div>

    <hr class="border-light my-1 mb-5" />

    <!-- Bottom Row -->
    <div class="row text-center align-items-center ">
      <div class="col-md-4">
        <p class="mb-5">&copy; 2025 Classic Electricals | All rights reserved.</p>
      </div>
      <div class="col-md-4 text-center">
        <a class="text-white fs-1" href="https://youtube.com/@classicelectricals1506?si=eqgd_VEVjnGjMEP5">
          <i class="bi bi-youtube"></i>
        </a>
      </div>
      <div class="col-md-4 ">
        <p class="mb-5 text-center">Powered by <img class="img-fluid" src="{% static 'images/classicicon.png' %}" alt="CE" style="width: 110px; height: 100px;"></p>
      </div>
    </div>
  </div>
    


</footer>
<style>
  .link-hover:hover {
    color: #e95c0b !important; /* Bootstrap's "info" color */
  }
</style>