{% load static %}
<footer class="text-white pt-4" style="background-color: #011627;">
  <div class="container mt-3">

    <!-- Top Row -->
    <div class="row gy-4 text-start text-md-start text-center" style="font-size: small;">

      <!-- PRODUCT TYPES -->
      <div class="col-lg-3 col-md-6">
        <h5 class="fw-bold text-secondary" style="font-size: medium;">PRODUCT TYPES</h5>
        <ul class="list-unstyled">
          {% for cat in footer_categories %}
            <li>
              <a class="text-white text-decoration-none link-hover fw-bold"
                 href="{% url 'category' cat.pctid cat.pctname|slugify %}">
                 {{ cat.pctname }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <!-- FEATURES -->
      <div class="col-lg-2 col-md-6">
        <h5 class="fw-bold text-secondary" style="font-size: medium;">FEATURES</h5>
        <ul class="list-unstyled">
          <li><a class="text-white text-decoration-none link-hover fw-bold" href="#">Enterprise</a></li>
          <li><a class="text-white text-decoration-none link-hover fw-bold" href="{% url 'contact' %}">Customer Services</a></li>
          <li><a class="text-white text-decoration-none link-hover fw-bold" href="{% url 'product' %}">Product Analytics</a></li>
          <li><a class="text-white text-decoration-none link-hover fw-bold" href="#">Professional Services</a></li>
        </ul>
      </div>

      <!-- ABOUT -->
      <div class="col-lg-2 col-md-6">
        <h5 class="fw-bold text-secondary" style="font-size: medium;">ABOUT</h5>
        <ul class="list-unstyled">
          <li><a class="text-white text-decoration-none link-hover fw-bold" href="{% url 'about' %}">About Us</a></li>
          <li><a class="text-white text-decoration-none link-hover fw-bold" href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
      </div>

      <!-- MARKETING -->
      <div class="col-lg-2 col-md-6">
        <h5 class="fw-bold text-secondary" style="font-size: medium;">MARKETING</h5>
        <ul class="list-unstyled">
          <li><a class="text-white text-decoration-none link-hover fw-bold" href="https://www.indiamart.com/classic-electricals-karnataka/">IndiaMart</a></li>
        </ul>
      </div>

      <!-- OFFICE ADDRESS with vertical line only on large screens -->
      <div class="col-lg-3 col-md-12 border-start-lg border-light ps-lg-3">
        <h5 class="fw-bold text-secondary" style="font-size: medium;">Registered Office Address:</h5>
        <p class="fw-bold" style="font-size: small;">
          Classic Electricals, <br>
          1st Floor, 12, Paramila Building, <br>
          3rd A Cross Vijayalaxmi Layout,<br> 
          Near Maramma Temple, Bagalagunte, <br>
          Bengaluru, 560073 <br>
          Karnataka, India
        </p>
        <p class="fw-bold" style="font-size: small;">
          Mobile: <span class="text-primary">+91-9449837441</span> / 
          <span class="text-primary">+91-7019584060</span>
        </p>
      </div>

    </div>

    <hr class="border-light my-2" />

    <!-- Bottom Row -->
    <div class="row text-center align-items-center gy-2">

      <div class="col-md-4">
        <p class="mb-2">&copy; 2025 Classic Electricals | All rights reserved.</p>
      </div>

      <div class="col-md-4">
        <a class="text-white fs-4" href="https://youtube.com/@classicelectricals1506?si=eqgd_VEVjnGjMEP5">
          <i class="bi bi-youtube"></i>
        </a>
      </div>

      <div class="col-md-4">
        <p class="mb-2">Powered by 
          <img class="img-fluid" src="{% static 'images/classicicon.png' %}" alt="CE" style="width: 110px; height: 100px;">
        </p>
      </div>

    </div>

  </div>
</footer>

<style>
  .link-hover:hover {
    color: #e95c0b !important;
  }
</style>
